<footer>
    <span class="author">
        <span class="author-label">Written by</span>
        {{author.name}}
    </span>
    <span class="tags">
        <span class="tags-labels">Tagged with</span>
        {{tags separator=", "}}
    </span>
</footer>
